.about {
    display: flex;
    flex-flow: row;
    gap: var(--col-1);
    padding: 72px var(--col-2);
    align-items: center;
}

.about > * {
    flex: 1 1 1;
}

.about h1 {
    color: var(--primary-color-2);
}

.about h2, .about p {
    color: var(--highlight-color-2);
}

.about p {
    margin-top: 24px;
}

.about button {
    background: var(--highlight-color-1);
    padding: 12px 24px;
    border-radius: 4px;
    margin-top: 48px;
}