footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 24px;
    padding: 72px var(--col-2);
    background: var(--highlight-color-1);
}

footer h5, footer a {
    color: var(--highlight-color-2);
}

footer div {
    margin: 12px 24px;
}
