.progress-view > ol {
    display: flex;
    flex-flow: row;
}

.progress-view > ol > * {
    flex: 1 1 auto;
}

.progress-view li {
    border-bottom: 4px solid var(--primary-color-2);
    border-radius: 3px;
    margin: 0 4px;
}

.progress .invisible {
    color: rgba(33, 33, 33, 0.4);
    border-bottom: 4px solid var(--primary-color-1);
}

.progress button {
    background: var(--primary-color-2);
    color: var(--highlight-color-2);
    margin: 24px 12px;
}

.progress main {
    margin: 48px 0;
}