.highlights .card {
    flex: 1 1 1;
}

.highlights .card img {
    width: 100%;
    object-fit: fill;
}

.highlights .card h5, .highlights .card p {
    float: left;
}

.highlights .card h6 {
    color: var(--secondary-color-1);
    float: right;
}

.highlights .card div {
    margin: 24px 18px;
}

.highlights .card p {
    margin-top: 24px;
}