.testimonials {
    padding: 72px var(--col-2);
    background: var(--primary-color-2);
    text-align: center;
}

.testimonials > div {
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
}

.testimonials > div > * {
    flex: 1 1 auto;
}

.testimonials .card {
    padding: 12px 24px;
    width: var(--col-2);
}

.testimonials .star-section {
    margin: 12px 0;
}

.testimonials .persona-section {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}